<h1>Update brand name <em><%= @brand.name() %></em></h1>

<div class="update">
  <form action="/brands/<%= @brand.id() %>" method="post">
    <input name="_method" type="hidden" value="patch">
    <br>
    <label for="name">Edit your brand:</label>
    <input id="name" name="name" type="text">
    <br>
    <br>
    <button type="submit">Update</button>
  </form>

  <form action="/brands/<%= @brand.id()%>" method="post">
    <input name="_method" type="hidden" value="delete">
    <br>
    <button type="submit" class="w3-button w3-teal">Delete Brand</button>
  </form>
</div>

<p><a href="/">Return to Home Page</a></p>
