<h2>Add a Store:</h2>

<form action="/brands" method="post">
  <div class="form-group">
    <label class="form-label" for='name'>Brand Name:</label>
    <input class="form-control" id='name' name='name' type='text'>
    </br>
    <label class="form-label" for='price'>Price :</label>
    <input class="form-control" id='price' name='price' type='text'>
    <br>
    <button type="submit" class="w3-button w3-teal">Add Brand</button>
  </div>
</form>
