<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='../styles.css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <title>Shoe Store</title>
  </head>
  <body>
    <div class="navbar1">
      <h3><a href="/">Home</a></h3>
      <h3><a href="/stores">Stores</a></h3>
      <h3><a href="/brands">Brands</a></h3>
    </div>
    <div class='container' id='everything'>
      <%= yield %>
    </div>
  </body>
