<h2>Add a Store:</h2>

<form action="/stores" method="post">
  <div class="form-group">
    <label class="form-label" for='title'>Store Name:</label>
    <input class="form-control" id='title' name='title' type='text' placeholder='Store Name'>
    </br>
    <button type="submit" class="w3-button w3-teal">Add Store</button>
  </div>
</form>
