<h1>Welcome to the Stores page</h1>

<% if @stores.any?() %>
  <ul>
    <% @stores.each do |store| %>
    <li><a href="/stores/<%= store.id() %>"><%= store.title() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no stores added yet!</p>
<% end %>

<p><a href="/">Return to Home Page</a></p>
