html {
  background: url('https://images.unsplash.com/photo-1485044092639-7ae841186271?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=67409d8c0d76cafb4da9a0d7ef3b01f2&auto=format&fit=crop&w=2175&q=80') no-repeat center center fixed;
  background-size: cover;
}

body{
  background: none;
}

.navbar1{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  border-bottom: 2px #0F7185 solid;
  font-family: 'Montserrat', sans-serif;
}

a{
  color: #0F7185;
}

ul {
  list-style: none;
}

li a{
  font-size: 18px;
  text-align: center;
}

li {
  margin-top: 8px;
  text-align: center;
}

h2, h1, h3, h4, h5, h6, p {
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  margin-top: 20px;
  color: #5F2A30;
}

h2 {
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  text-decoration: underline;
  margin-top: 20px;
  color: #5F2A30;
}

.w3-button {
  text-align: center;
}

form {
  text-align: center;
}
